  <!-- Footer -->
  <footer class="page-footer deep-purple lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Call Us</h5>
          <p class="grey-text text-lighten-4">022-493-6601
          </p>
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="index.html">Home</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="solutions.html">Services</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="signup.html">News & Blog</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="signup.html">Contact Us</a>
            </li>

          </ul>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          
        </div>
      </div>
    </div>
    <div class="footer-copyright deep-purple darken-1">
      <div class="container">
        TopITSolutions &copy; 2021
        <a class="grey-text text-lighten-4 right" href="#!">Terms & Conditions</a>
      </div>
    </div>
  </footer>