{% extends 'base.html' %}

{% block title %} | About {% endblock %}


{% load static %}

{% block content %}
<!-- Header -->
<header class="main-header-inner">
    {% include 'partials/_navbar.html'  %}
    <div class="showcase container">
        <div class="row">
          <div class="col s12 m10 offset-m1 center">
            <h1>About TopITSolutions</h1>
          </div>
        </div>
      </div>
  </header>



  <!-- Section: About -->
  <section id="about" class="section section-about grey lighten-3 center">
    <div class="container">
      <!-- <p class="flow-text">
        TopITSolutions are onthe go IT Support. We travel to your home or office to fix computer issues. <br>
          We have the skills and experience to solve any IT related issues including computers, laptops, networks, wifi etc..
          We understand your needs and always work in a timely manner to fix any IT issues
          We are professional, supportive, friendly, patient and quick to respond to calls.
      </p> -->
      <p class="flow-text">
        I'm passionate about technology and gadgets. I have been working in the IT Industry for 10 years and throughout my IT career as a Computer technician,
        I will share you some tips and tricks and how to handle some IT related issues both Hardware and software issues. I am also programming 
        enthusiast and I will share you some of my work. 
      </p>
      
    </div>
  </section>


  {% endblock %}