{% extends 'base.html' %}

{% block title %} | Welcome {% endblock %}

{% load static %}



{% block content %}

<!-- Header -->
<header class="main-header">
    {% include 'partials/_navbar.html'  %}
    <!-- Showcase -->
    <div class="showcase container">
      <div class="row">
        <div class="col s12 m10 offset-m1 center">
          <h1 id="headingText">Your Home IT Specialist</h1>
          <p></p>
          <br>
          <br>
         
          <a href="{% url 'contact' %}" class="btn btn-medium" style="background-color: #351c75;">
            <i class="large material-icons">event</i>
              <span id="phone">Book Online</span> 
          </a>
        </div>
      </div>
    </div>
</header>

  <section class="section-boxes center">
    <div class="row">
      <div class="col s12 m6 l3 blue white-text box">
        <i class="material-icons medium">computer</i>
        <h5>Computer Support</h5>
        <p>
          PC and Mac Support for any Hardware, Software, Wired and Wireless Issues.
        </p>
      </div>
      <div class="col s12 m6 l3 purple white-text box">
        <i class="material-icons medium">web</i>
        <h5>Web Design</h5>
        <p>We can help you build responsive website that suites your specification</p>
      </div>
      <div class="col s12 m6 l3 teal white-text box">
        <i class="material-icons medium">backup</i>
        <h5>Internet of Things</h5>
        <p>Set up smart homes, build digital signage, media servers, NAS and more</p>
      </div>
      <div class="col s12 m6 l3 amber darken-4 white-text box">
        <i class="material-icons medium">people</i>
        <h5>Remote Support</h5>
        <p>Emergency situation when you need a support? Call us and we can assist you</p>
      </div>
    </div>
  </section>

  <!-- Section: About -->
  <section class="section section-about grey lighten-4">
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <p class="flow-text">
            I'm passionate about technology and gadgets. I have been working in the IT Industry for 10 years and throughout my IT career as a Computer technician,
            I will share you some tips and tricks and how to handle some IT related issues both Hardware and software issues. I am also programming 
            enthusiast and I will share you some of my work. 
            
          </p>
        </div>
        <div class="col s12 m5 offset-m1">
          <br>
          <ul class="collection with-header z-depth-4">
            <li class="collection-header">
              <h5>Services Offered</h5>
            </li>
            <li class="collection-item">
              <i class="material-icons left">check</i> Computer Hardware and Software Issues
            </li>
            <li class="collection-item">
              <i class="material-icons left">check</i> Web Design
            </li>
            <li class="collection-item">
              <i class="material-icons left">check</i> Computer Back Up and Upgrades
            </li>
            <li class="collection-item">
              <i class="material-icons left">check</i> Wifi / Access Point Installation
            </li>
            <li class="collection-item">
              <i class="material-icons left">check</i> Internet of Things
            </li>
            <li class="collection-item">
              <i class="material-icons left">check</i> Remote Support
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  

  <!-- Section: Languages -->
  <section class="section section-language" style="background-color: #351c75;">
    <div class="container">
      <div class="row">
        <h4 class="center" style="color: #ffab00;">
          We Specilaized in:
        </h4>
        <br>
        <br>
        <div class="row">
          <div class="col s2">
            <img src="{% static 'img/apple.png' %}" class="responsive-img" alt="">
          </div>
          <div class="col s2">
            <img src="{% static 'img/win10.png' %}" class="responsive-img" alt="">
          </div>
          <div class="col s2">
            <img src="{% static 'img/django.png' %}" class="responsive-img" alt="">
          </div>
          <div class="col s2">
            <img src="{% static 'img/laravel.png' %}" class="responsive-img" alt="">
          </div>
          <div class="col s2">
            <img src="{% static 'img/raspi.png' %}" class="responsive-img" alt="">
          </div>
          <div class="col s2">
            <img src="{% static 'img/alexa.png' %}" class="responsive-img" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: LAtest Blog -->

<section id="popular" class="section section-popular scrollspy">
  <div class="container">
    <h5>
      News & Blogs</h5>
    <div class="row">
      {% if blogs %}
        {% for blog in blogs %}
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                  <img src="{{blog.photo.url }}" alt="">
              </div>
              <div class="card-content">
                <h5>
                  {{blog.title}}
                </h5>

                <p class="light">{{blog.list_date}}</p>
                <a href="{% url 'blog' blog.id %}">Read more...</a>
              </div>
            </div>
          </div>
          {% endfor %}
      {% else %}
        <div class="col s12">
          <p>No Blogs Available</p>
        </div>
      {% endif %}

    </div>
  </div>
</section>

  <!--  Modal -->
  <div id="contact-modal" class="modal">
    <div class="modal-content">
      <form action="{% url 'contactus' %}" method="POST">
        {% csrf_token %}
          <h5>Please fill out this form</h5>
          <div class="input-field">
            <input type="text" placeholder="Name" id="name" name="name">
            <label for="name">Name</label>
          </div>
          <div class="input-field">
            <input type="email" placeholder="Email" id="email" name="email">
            <label for="email">Email</label>
          </div>
          <div class="input-field">
            <input type="text" placeholder="Phone" id="phone" name="phone">
            <label for="phone">Phone</label>
          </div>
          <div class="input-field">
            <textarea class="materialize-textarea" placeholder="Enter Message" id="message" name="message"></textarea>
            <label for="message">Message</label>
          </div>
          <input type="submit" value="Submit" class="btn" style="background: #d847f1;">
      </form>
      
    </div>
  </div>


  

{% endblock %}