{% extends 'base.html' %}

{% block title %} | Services {% endblock %}


{% load static %}

{% block content %}
<!-- Header -->
<header class="main-header-inner">
    {% include 'partials/_navbar.html'  %}
    <div class="showcase container">
        <div class="row">
          <div class="col s12 m10 offset-m1 center">
            <h1>Service Offered</h1>
          </div>
        </div>
      </div>
  </header>

  <section id="popular" class="section section-popular grey lighten-4 scrollspy">
    <div class="container">
      <div class="row">

        <div class="col s12 m6">
          <div class="card-panel" style="height: 300px;">
            <h2 class="center"><i class="medium material-icons icon-color-services" style="float: left;margin: 0 10px;">web</i></h2>
            <h5 class="center">Web Development</h5>
            <div class="card-content">
              <p class="light" style="text-align: justify;">
                Planning to start a website for your business, blogs or for personal use?
                We can build a responsive and mobile friendly website for you. Give us a ring.
              </p>
            </div>
            <div class="card-action">
              <a href="{% url 'webdevelopment' %}">Read More...</a>
            </div>
          </div>
        </div>
        

        <div class="col s12 m6 l4">
          <div class="card-panel" style="height: 300px;">
            <h2 class="center"><i class="medium material-icons icon-color-services" style="float: left;margin: 0 10px;">computer</i></h2>
            <h5 class="center">Computer and Laptop Repair</h5>
            <div class="card-content">
              <p class="light" style="text-align: justify;">
                Are you looking for someone skilled in laptop and computer repair 
                who can come directly to you? Perhaps your computer is crashing, 
                running very slowly, or not running at all. 
              </p>
            </div>

            <div class="card-action">
              <a href="{% url 'computer_laptop_repair' %}">Read More...</a>            
            </div>

          </div>
        </div>

        

        <div class="col s12 m6">
          <div class="card-panel" style="height: 300px;">
            <h2 class="center"><i class="medium material-icons icon-color-services" style="float: left;margin: 0 10px;">settings</i></h2>
            <h5 class="center">Computer Upgrades</h5>
            <div class="card-content">
              <p class="light" style="text-align: justify;">
                A slow computer can be incredibly frustrating – whether you’re checking emails, 
                browsing, or trying to use multiple apps, an unresponsive 
                PC can be easily improved through servicing or affordable part upgrades.
                </p>    
            </div>

            <div class="card-action">
              <a href="{% url 'computer_laptop_upgrade' %}">Read More...</a>            
            </div>
               
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card-panel" style="height: 300px;">
            <h2 class="center"><i class="medium material-icons icon-color-services" style="float: left;margin: 0 10px;">signal_wifi_4_bar</i></h2>
            <h5 class="center">Internet, Wifi, Access Point Setup</h5>
            <div class="card-content">
              <p class="light" style="text-align: justify;">
                We can provide variety of networking services. Setting up Access points for areas with weak signals.
                We can also set up authentication type like voucher base, radius and many more.  
              </p>
            </div>
            <div class="card-action">
              <a href="{% url 'networking' %}">Read More...</a>            
            </div>

          </div>
        </div>



        <div class="col s12 m6">
          <div class="card-panel" style="height: 300px;">
            <h2 class="center"><i class="medium material-icons icon-color-services" style="float: left;margin: 0 10px;">settings_remote
            </i></h2>
            <h5 class="center">Internet of Things</h5>
            <div class="card-content">
              <p class="light" style="text-align: justify;">
                You want to setup smart devices? or build a media server at your home?
                Or you want to have a digital signage for your business? Give us a call and we can assist you  
              </p>
            </div>

            <div class="card-action">
              <a href="{% url 'iot' %}">Read More...</a>           
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card-panel" style="height: 300px;">
            <h2 class="center"><i class="medium material-icons icon-color-services" style="float: left;margin: 0 10px;">phone</i></h2>
            <h5 class="center">Remote Support</h5>
            <div class="card-content">
              <p class="light" style="text-align: justify;">
                We can provide you with a quick remote support and save you the call-out free.
                Remote support allows us to access your pc with a secure key so dont worry. Please give us a 
                call if you have any concerns.
              </p>
            </div>
            <div class="card-action">
              <a href="#">Read More...</a>        
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}