{% extends 'base.html' %}

{% block title %} | Services {% endblock %}


{% load static %}

{% block content %}
<!-- Header -->
<header class="main-header-inner">
    {% include 'partials/_navbar.html'  %}
    <div class="showcase container">
        <div class="row">
          <div class="col s12 m10 offset-m1 center">
            <h1>Services</h1>
            <h5>Web Development</h5>
          </div>
        </div>
      </div>
  </header>

  <section id="popular" class="section section-popular scrollspy">
    <div class="container">
      <div class="row">
        <h4 class="center">
          Web Applications
        </h4><br>
        {% if webprjs %}
          {% for webprj in webprjs %}
          <div class="col s12 m4">
            <div class="card medium">
              <div class="card-image">
                  <img src="{{webprj.photo.url}}" alt="" style="min-height: 220px; max-height: 220px;">
              </div>
              <div class="card-content">
                <h5>
                  {{ webprj.title}}
                </h5>
    
                <p>{{webprj.body | safe}}</p>
                <!-- <a href="#">Read more...</a> -->
              </div>
            </div>
          </div>
          {% endfor %}
        {% else %}å
          <div class="col">No Web Apps Available</div>
        {% endif %}
      </div>
    </div>
  </section>

  {% endblock %}